html {
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.main-wrapper {
	width: 100%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.mw {
	max-width: 1280px;
}

.clfx::before, .clfx::after {
	display: table;
	content: ' ';
}

.clfx::after {
	clear: both;
}

header, footer {
	padding-top: 2em;
	padding-bottom: 2em;
	width: 100%;
	background-color: deepskyblue;
}

.hf-headings {
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
}

nav {
	width: 100%;
	background-color: cornsilk;
}

.nav-inner {
	padding-top: 2em;
	padding-bottom: 2em;
	width: 88%;
}

nav a {
	display: block;
	padding: 2em 0 2em 2em;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	color: #000;
	background-color: #eee;
	border-bottom: 3px solid #eee;
}

nav a.is-current {
	color: crimson;
}

nav a:hover {
	color: #fff;
	background-color: lightsalmon;
	border-bottom-color: coral;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	background-color: #eee;
}

.article-inner {
	padding: 3em 2em;
	max-width: 800px;
}

main {
	background-image: url('./../assets/bg-skyscraper.png');
	background-position: 1258px 0;
	background-repeat: repeat-y;
}

article h3 {
	font-family: 'Pt Serif Caption', serif;
	text-transform: uppercase;
}

article img {
	margin-right: 1em;
	display: block;
	width: 100%;
}

article p {
	font-family: 'Pt Serif', serif;
	font-size: 18px;
}

@media only screen and (min-width: 768px) {

	.main-wrapper {
		position: relative;
	}

	.main-wrapper.bg-col-1::before {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		display: block;
		width: 400px;
		height: 100%;
		content: ' ';
		background-color: cornsilk;
	}

	.is-floated-md {
		float: left;
	}

	nav {
		width: 400px;
		height: 100%;
		background-color: transparent;
	}

	img {
		float: left;
		max-width: 480px;
	}

	article {
		margin-left: 400px;
	}

	article h3 {
		text-align: center;
	}

	.article-inner {
		width: auto;
		max-width: none;
	}

}
