head
	meta(charset='utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1')
	meta(http-equiv="X-UA-Compatible" content="ie=edge")

	block head
	title= pageTitle || ''
	//- link(rel='stylesheet' type='text/css' href= cssHref || 'assets/styles/main.min.css?t=' + timestamp)
	link(rel='stylesheet' type='text/css' href='assets/styles/app.css')
	meta(name='description' content=pageDescription || '')
	meta(name='keywords' content=pageKeywords || '')
